<h1 class="mt-5">Sign In</h1>

<%= form_with url: sign_in_path, data: {turbo: false} do |form| %>

    <div class="mb-3">
        <%= form.label :email%>
        <%= form.email_field :email, class: "form-control", placeholder: "user@email.com" %>
    </div>

    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        <%= link_to "Forget Password?", forget_password_path %>
    </div>

    <div class="mb-3">
        <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>
<% end %>